* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: #282828;
  color: #ebdbb2;
}

/* CPU */
#cpu {
  background: #3c3836;
  color: #fabd2f;
  padding: 0 10px;
  margin: 4px 6px;
  border-radius: 6px;
}

/* Memory */
#memory {
  background: #3c3836;
  color: #b8bb26;
  padding: 0 10px;
  margin: 4px 6px;
  border-radius: 6px;
}

/* Kernel */
#kernel {
  background: #3c3836;
  color: #83a598; /* blue */
  padding: 0 10px;
  margin: 4px 6px;
  border-radius: 6px;
}

/* Clock */
#clock {
  background: #3c3836;
  color: #d3869b; /* purple */
  padding: 0 10px;
  margin: 4px 6px;
  border-radius: 6px;
}

/* Tray */
#tray {
  background: #3c3836;
  padding: 0 10px;
  margin: 4px 6px;
  border-radius: 6px;
}
